/*HOME */

.about-body{ 
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

body{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: #F8F7F2;
    padding: 0 60px;
  }


header{
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.navbar{
  display: flex;
  justify-content: flex-start; 
  padding: 0; 
  margin-top: 15px;
}


.nav-link{
  text-decoration: none;
  color: #525252;
  font-size: 20px;
  padding: 5px 5px;
}

.nav-link.active{
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px 5px;
  border-radius: 5px;
}

.header-container {
  position: relative; 
  max-width: 1000px;
  padding: 0;
  margin-top: 20px;
}

.header-container p {
  max-width: 800px; 
  margin-top: 10px;
  padding: 0;
  position: relative; 
  display: inline-block;
}

.arrow-container {
  position: absolute; 
  top: 50%;
  right: -80px; 
  transform: translateY(-50%); 
}

.arrow {
  font-size: 30px; 
  animation: jump 1s infinite; 
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-20px);
  }
}


h1{
  font-family: Georgia, serif;
  font-size: 43px;
  font-weight: normal;
  margin-bottom: 27px;
  letter-spacing: .5px;
}

p{
  color: #525252;
}

/*ABOUT ME PAGE: TIMELINE */

.bottom-nav, footer{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bottom-nav > div {
  display: flex;
  gap: 50px;
}

footer{
  bottom: 20;
}

.slider{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-wrapper{
  width: max-content;
  padding-right: 160px; 
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
}

.slide{
  width: 450px;
  height: 450px;
  background: #DAD8CD;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marker-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: 100vh;
}

.marker{
  position: relative;
  width: 2px;
  height: 100%;
  background: black;
}

.marker:after{
  position: absolute;
  content: "";
  display: block;
  top: 50px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-color: #ffffff; 
  border: 2px solid black;
  border-radius: 100%;
}

.active-slide{
  position: absolute;
  top: 60px;
  left: 40px;
  font-family: Arial, sans-serif;
  font-size: 15px;
}


.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.image-container .caption {
  position: absolute;
  bottom: 10%; /* adjust to position the caption */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.image-container:hover .overlay {
  opacity: 1; 
}

.image-container:hover .caption {
  opacity: 1;
}


/*HOME PAGE*/

h2{
  font-family: Arial, sans-serif;
  font-size: 18px;
  }

.accordion-container {
  display: flex; 
  gap: 20px;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  align-items: flex-start;
}

.explore-projects {
  flex: 1; 
  max-width: 300px; 
  margin-top: 20px; 
}

.explore-projects h1 {
  font-size: 22px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  color: #525252;
}

.accordion {
  flex: 2; 
}

.accordion-section {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  padding: 15px;
  font-size: 30px;
  font-weight: normal;
  font-family: Georgia, serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: #EFEEB6;
}

.accordion-content p {
  margin: 10px 0;
  font-size: 16px;
  color: black;
}

.accordion-content {
  display: none; /*start hidden */
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  transition: max-height 0.3s ease;
}

.accordion-content.show {
  display: block; /*make visible when active */
}


@media screen and (max-width: 900px) {
  .accordion-container {
    flex-direction: column; 
  }
}


/*HOME: case studies*/

.project-row {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 20px; 
  margin: 0 auto; 
  padding: 10px; 
  max-width: 1200px; 
}

.project-container {
  text-align: center; 
}

.project-card {
  width: 285px;
  height: 350px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  box-sizing: border-box; 
  margin: 10px; 
  overflow: hidden; 
}

.project-image {
  width: 100%; 
  height: 250px; 
  object-fit: cover; 
  margin-bottom: 10px; 
}

.project-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word; 
  line-height: 1.4; 
}


.project-card p .project-detail{
  text-align: left;
  text-decoration: none;
  color: #525252;
  font-weight: 100; 
  font-size: 18px;
  font-family: Georgia, serif;
  font-size: 15px;
  text-transform: uppercase;
  opacity: 0.4;
}

.project-placeholder {
  width: 100vw; 
  height: 100vh; 
  object-fit: cover; 
  display: block;
  margin: 0 auto;
}
