body{
    font-family: Arial, sans-serif;
    font-size: 23px;
    color:  #000000;
    background-color: #F8F7F2;
  }

h1{
  font-family: Georgia, serif;
  font-size: 34px;
}

.nav-link{
  text-decoration: none;
  color: #525252;
  font-size: 20px;
  padding: 5px 10px;
}

.nav-link.active{
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}
